<section class="home-content" id="education">
  <div class="about">
    <h3>Education<span></span></h3>
    <p>2025 second year of systems engineering Universidad San Pablo</p>
    <p>2024 first year of systems engineering Universidad San Pablo</p>
    <p>
      2022 - 2023 Science bachelor and Letters with a focus on computing Colegio
      Cristiano Elim
    </p>
  </div>
</section>
