<section class="projects" id="projects">
  <div class="projects-container">
    <h3>Projects<span></span></h3>
    <div class="project-grid">
      <div class="project-card">
        <div class="project-image">
          <img src="/img/project1-preview.jpg" alt="Smart Conference Web" />
        </div>
        <div class="project-info">
          <h4>Smart Conference Web</h4>
          <p>A web application for managing sales in conferences and events</p>
          <div class="project-links">
            <a
              href="https://github.com/ialiquez/Smart-Conference-Web.git"
              target="_blank"
            >
              <i id="github" class="fa-brands fa-github"></i>
            </a>
            <a href="#" target="_blank">
              <i id="globe" class="ph ph-globe"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="project-card">
        <div class="project-image">
          <img src="/img/project2-preview.jpg" alt="BDL Project" />
        </div>
        <div class="project-info">
          <h4>BDL Project</h4>
          <p>Management system for projects with databases</p>
          <div class="project-links">
            <a
              href="https://github.com/ialiquez/BDL-PROYECT.git"
              target="_blank"
            >
              <i id="github" class="fa-brands fa-github"></i>
            </a>
            <a href="#" target="_blank">
              <i id="globe" class="ph ph-globe"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="project-card">
        <div class="project-image">
          <img src="/img/project3-preview.jpg" alt="San Pablo" />
        </div>
        <div class="project-info">
          <h4>
            Universidad San Pablo de Guatemala Web this web is make with php and
            sql
          </h4>
          <p>A universitys web aplication</p>
          <div class="project-links">
            <a
              href="https://github.com/Isma1303/sanpabloweb.git"
              target="_blank"
            >
              <i id="github" class="fa-brands fa-github"></i>
            </a>
            <a href="#" target="_blank">
              <i id="globe" class="ph ph-globe"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="project-card">
        <div class="project-image">
          <img src="/img/project4-preview.jpg" alt="DI" />
        </div>
        <div class="project-info">
          <h4>
            Pagina web creativa con modo oscuro y claro, incluye traduccion y
            envio de daos de contacto a una base de datos
          </h4>
          <p>Creative response to DI</p>
          <div class="project-links">
            <a href="https://github.com/Isma1303/DI.git" target="_blank">
              <i id="github" class="fa-brands fa-github"></i>
            </a>
            <a
              href="https://destination-imagination-alejandro.onrender.com/"
              target="_blank"
            >
              <i id="globe" class="ph ph-globe"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<link rel="stylesheet" href="/css/icons.css" />
