<section class="projects" id="projects">
  <div class="projects-container">
    <h3>Projects<span></span></h3>
    <div class="project-grid">
      <div class="project-card">
        <div class="project-image">
          <img src="/img/smart.jpeg" alt="Smart Conference Web" />
        </div>
        <div class="project-info">
          <h4>Smart Conference Web</h4>
          <p>A web application for managing sales in conferences and events</p>
          <div class="project-links">
            <a
              href="https://github.com/ialiquez/Smart-Conference-Web.git"
              target="_blank"
            >
              <i id="github" class="fa-brands fa-github"></i>
            </a>

          </div>
        </div>
      </div>
      <div class="project-card">
        <div class="project-image">
          <img src="/img/bdl-logo.jpeg" alt="BDL Project" />
        </div>
        <div class="project-info">
          <h4>BDL Project</h4>
          <p>Management system for projects with databases</p>
          <div class="project-links">
            <a href="https://github.com/Isma1303/BDL-Proyect.git" target="_blank">
              <i id="github" class="fa-brands fa-github"></i>
            </a>

            </a>
          </div>
        </div>
      </div>

      <div class="project-card">
        <div class="project-image">
          <img src="/img/php.jpeg" alt="San Pablo" />
        </div>
        <div class="project-info">
          <h4>
            A university web application 
          </h4>
          <p>San Pablo University of Guatemala Website  This website is made with PHP and SQL.</p>
          <div class="project-links">
            <a
              href="https://github.com/Isma1303/sanpabloweb.git"
              target="_blank"
            >
              <i id="github" class="fa-brands fa-github"></i>
            </a>

          </div>
        </div>
      </div>

      <div class="project-card">
        <div class="project-image">
          <img src="/img/DI.jpeg" alt="DI" />
        </div>
        <div class="project-info">
          <h4>
           destination imaginatio
          </h4>
          <p>Creative website with dark and light mode, includes translation and sending contact data to a database.</p>
          <div class="project-links">
            <a href="https://github.com/Isma1303/DI.git" target="_blank">
              <i id="github" class="fa-brands fa-github"></i>
            </a>
            <a
              href="https://destination-imagination-alejandro.onrender.com/"
              target="_blank"
            >
              <i id="globe" class="ph ph-globe"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<link rel="stylesheet" href="/css/icons.css" />
