<section class="skills" id="skills">
  <div class="about">
    <h3>Skills<span></span></h3>
    <p>
      I have experience with programming languages such as C#, JavaScript,
      Python, HTML, CSS, PHP,node.JS, Express.JS, MongoDB and MySQL. I’ve worked
      on both desktop and web applications, applying principles of
      object-oriented programming and software design. I also have an
      intermediate level of English, which I developed through a National
      Geographic course in high school and continued to improve through
      self-study.
    </p>
    <i id="csharp" class="fa-brands fa-csharp"></i>
    <i id="js" class="fa-brands fa-js"></i>
    <i id="github" class="fa-brands fa-github"></i>
    <i id="html" class="fa-brands fa-html5"></i>
    <i id="css" class="fa-brands fa-css3-alt"></i>
    <i id="python" class="fa-brands fa-python"></i>
    <i id="php" class="fa-brands fa-php"></i>
  </div>
</section>
<link rel="stylesheet" href="/css/icons.css" />
